@import "../../css-config/mixins.scss";
.wish-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    margin: 2%;
    border-radius: 14px;
    overflow: hidden;
    background-color: #575757;
  
    @media (min-width: 768px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
      width: 96%;
    }
  }
  .wlempty{
    font-size: medium;
  }
  .empty-cart{
    display: flex;
  }
.wishdp{
    position: relative;
    left: -10%;
    display: flex;
    flex-direction: row;
    gap: 2.5rem; 
    width: 100%;
    flex-flow: wrap;
    @include mb{
        left: -15%;
    }
    @include tb{
        left: -22%;
    }
    @include md{
        left: -8%;
    }
    @include xxl{
        left: -7%;
    }
}
.wish-content{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-left: 25%;
    @include mb{
        flex-direction: column;
        
    }
    @include lg{
        flex-direction: row;
        justify-content: center;
    }
}


.Product-card{
    width: calc(100% - 5px);
    margin-bottom: 20px;
    @include tb{
        width: calc(45% - 15px);
        transform: translateX(55px);
    }

    @include md{
        width: calc(25% - 15px);
        transform: translateX(0);
    }
    .thumbnail{
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.05);
        margin-bottom: 10px;
        padding: 25px;
        display: flex;
        align-items: center;
        @include mb{
            height: 280px;
        }
        @media only screen and (min-width:460px){
            height: 380px;
        }
        @include sm{
            height: 360px;
        }
        @include tb{
            height: 250px;
        }
        @include lg{
            height: 300px;
        }
        @include md{
            height: 350px;
        }
        img{
            transition: all ease 0.3s;
            display: block;
            width: 100%;
            @include mb{
                width: 100%;
            }
            @include sm{
                width: 80%;
                transform: translateX(10%);
            }
            @include tb{
                width: 100%;
                transform: translateX(0%);
            }
            &:hover {
                transform: scale(1.1);
                }
                @include lg{
                    width: 80%;
                    transform: translateX(8%);
                }
                @include md{
                    width: 100%;
                    transform: translateX(0);
                }
        }
        
    }
}
    .product-details{
        .name{
            font-size: 20px;
            color: rgb(255, 255, 255);
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include mb{
                font-size: 16px;
            }
            @include md{
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        .price{
            font-size: 18px;
            color: rgb(161, 161, 161);
            @include mb{
                font-size: 14px;
            }
            @include md{
                font-size: 20px;
            }
        }
    }
    

.removebtnwl{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
#rmviconwl{
    &:hover{
        scale: 1.1;
    }
}
.single-card{
    width: calc(100% - 5px);
margin-bottom: 20px;
@include tb{
    width: calc(45% - 15px);
    transform: translateX(55px);
}

@include md{
    width: calc(45% - 15px);
    transform: translateX(0);
}
.thumbnail{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 10px;
    padding: 25px;
    display: flex;
    align-items: center;
    @include mb{
        height: 280px;
    }
    @media only screen and (min-width:460px){
        height: 380px;
    }
    @include sm{
        height: 360px;
    }
    @include tb{
        height: 250px;
    }
    @include lg{
        height: 300px;
    }
    @include md{
        height: 350px;
    }
    img{
        transition: all ease 0.3s;
        display: block;
        width: 100%;
        @include mb{
            width: 100%;
        }
        @include sm{
            width: 80%;
            transform: translateX(10%);
        }
        @include tb{
            width: 100%;
            transform: translateX(0%);
        }
        &:hover {
            transform: scale(1.1);
            }
            @include lg{
                width: 80%;
                transform: translateX(8%);
            }
            @include md{
                width: 100%;
                transform: translateX(0);
            }
    }
    
}
}